html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.header-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    box-shadow: 1px 1px 1px black;
   font-size: medium;
}

.nav-items{
    display: flex;
    list-style-type: none;
}
.logo{
    width: 100px;
    border-radius: 50%;
}
.nav-items > li{
    padding: 10px;
    font-weight: 700;
}

.cart{
    width: 40px;
}

.cart-container{
    padding: 10px;
}

.right{
    display: flex;
    flex-direction: row-reverse;
}

/* resto component */



.resto-card{
    display: flex;
    padding: 40px;
    width: 100%;
    flex-wrap: wrap;

}

.shimmer-container{
    width: 100%;
    display: flex;
}

.shimmer-card{
    background-color: lightgray;
    width: 25%;
    height: 100%;
    margin: 10px;
    border: 1px solid lightblue
}

.card-container{
    width: 20%;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    

}

.resto-image > img{
    width: 100%;
}

.resta-details-container{
    display: flex;
    justify-content: space-between;
}

.resta-details{
    margin: 50px;
    padding: 20px;
}
